{% extends "base.html" %}

{% block title %}Delete User{% endblock %}
{% block breadcrumb %}Users{% endblock %}
{% block page_heading %}Delete User{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body text-center py-5">
    <h4 class="text-danger mb-3">Delete User</h4>

    <p class="text-secondary">
      Are you sure you want to delete this user?
    </p>

    <h6 class="mb-4">{{ user_obj.username }}</h6>

    <form method="POST">
      {% csrf_token %}

      <a href="{% url 'user_list' %}" class="btn btn-secondary">
        Cancel
      </a>

      <button type="submit" class="btn btn-danger">
        Delete
      </button>
    </form>
  </div>
</div>

{% endblock %}